<!DOCTYPE html>
<html>
<head>
    <title>Welcome to DashX Fleet!</title>
    <style>
        body { font-family: 'Arial', sans-serif; color: #333; margin: 0; padding: 0; background-color: #f4f4f4; }
        .container { max-width: 600px; margin: auto; padding: 20px; background-color: #ffffff; border: 1px solid #dddddd; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        .header { background-color: #ffffff; color: #333; padding: 10px; text-align: center; }
        .content { margin-top: 20px; }
        .footer { margin-top: 20px; font-size: 0.8em; text-align: center; color: #333; padding: 10px; background-color: #B847EF; }
        .button { background-color: #B847EF; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block; margin-top: 20px; }
        .social-media { text-align: center; padding: 20px 0; }
        .social-icon { margin: 0 10px; display: inline-block; }
        .social-icon img { max-width: 24px; }
        a { color: #B847EF; text-decoration: none; }
        @media (max-width: 600px) {
            .container { width: 100%; padding: 10px; }
            .header img { max-width: 100px; height: auto; }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://i.postimg.cc/dVzZ2Mdm/photo.jpg" alt="DashX Logo" style="max-width: 200px; height: auto;">
            <h1>Welcome to DashX Fleet!</h1>
        </div>
        <div class="content">
            <p>Hello <%= data %>,</p>
            <p>Congratulations on successfully registering with DashX Fleet! We're excited to have you join our community of professional fleet members. You're now part of a network that values efficiency, innovation, and quality service.</p>
            <p>As a member of DashX Fleet, you'll enjoy access to exclusive resources, tools, and support designed to help you succeed. Keep an eye on your inbox for more details about getting the most out of your new membership.</p>
            <a href="mailto:support@dashx.altinsmart.com" class="button">Access Fleet Resources</a>
        </div>
        <div class="footer">
            <p>Connect with DashX Fleet:</p>
            <a href="https://facebook.com/DashX.logistic" class="social-icon"><img src="https://i.postimg.cc/fLJmwXWy/facebook-rounded-large.png" alt="Facebook"></a>
            <a href="https://instagram.com/DashX.logistic" class="social-icon"><img src="https://i.postimg.cc/G3N2F0n3/instagram-rounded-large.png" alt="Instagram"></a>
            <a href="https://twitter.com/DashX.logistic" class="social-icon"><img src="https://i.postimg.cc/x1PgJ3NQ/twitter-square-large.png" alt="Twitter"></a>
            <p>Visit us at: 7B Udeco Medical Road, Chevy View Estate, Lagos</p>
            <p>&copy; [2024] DashX Fleet. All rights reserved.</p>
        </div>
    </div>
</body>
</html>