<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background: url('https://example.com/background.jpg') no-repeat center center;
            background-size: cover;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo img {
            max-width: 200px;
            height: auto;
        }
        .content {
            padding: 20px;
            background-color: #A10F7E; /* Content background color with opacity */
        }
        .content h2 {
            color: white /* Heading color */
        }
        .content p {
            color: white; /* Paragraph color */
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            color: white;
            font-size: 15px;
        }
        .app-links {
            text-align: center;
            margin-top: 20px;
        }
        .app-links img {
            max-width: 150px;
            height: auto;
            margin: 0 10px;
            vertical-align: middle;
        }
        .featured-image {
            text-align: center;
            margin-top: 20px;
        }
        .featured-image img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">

            <img src="https://i.im.ge/2024/03/15/Rj6l31.dashx.jpeg" alt="dashx" width="100px" />
        </div>
        <div class="content">
            <h2>Hello!</h2>
            <div class="featured-image">
                <a href="https://im.ge/i/Rj6l31"></a>
                <img src="https://i.im.ge/2024/03/15/RjNpSM.logo2.png" alt="logo2" width="100px" />
            </div>
            <p><%= data %></p>
        </div>
        <div class="footer">
            <p class="info">Altinsmart | No 6 esssang street | 09022201524</p>
            <div class="app-links">
                <a href="https://im.ge/i/RjPWkr"><img src="https://i.im.ge/2024/03/15/RjPWkr.apple-new.png" alt="apple new"  /></a>
                <a href="https://im.ge/i/RjP8df"><img src="https://i.im.ge/2024/03/15/RjP8df.google-new.th.png" alt="google new" /></a>
            </div>
        </div>
    </div>
</body>
</html>
